# ======================
# PlatformIO (code/**)
# ======================
**/.pio/
**/libdeps/
**/lib_deps/

# ======================
# Slidev (slides/**)
# ======================
**/slides/node_modules/
**/slides/dist/
**/slides/.output/
**/slides/.nuxt/
**/slides/.netlify/

# ======================
# Node / npm
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.yarn/

# ======================
# OS & Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~